<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>Freshtrader</title>
   <meta content="" name="description" />
   <meta content="" name="keywords" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
</head>

<body style="font-family: 'Nunito Sans', sans-serif; margin: 0;">
   <tr>
      <td style="border: 0;">
         <table width="600" style="margin: 0 auto; border: 0;">
            <tr>
               <td style="border: 1px solid #f2f2f2; padding: 20px; border-radius: 6px; background-color: #f2f2f2;">
                  <table width="100%" style="margin: 0 auto; border: 0;">
                     <tr>
                        <td style="text-align: center;">
                           <table width="100%" style="margin: 0 auto; border: 0;">
                              <tr>
                                 <td
                                    style="text-align: center; padding: 0 0 5px; font-size: 18px; font-weight: 800; display: inline-block; color: #000; text-align: right;">
                                    [<%=data.seller.business_trading_name %>]
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 0 0 5px;">
                                    <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                          color: #000;">ABN: <span
                                          style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">XX
                                          <%=data.seller.abn %>
                                       </span></strong>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 0 0 5px;">
                                    <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                          color: #000;">Address Line 1 : <span
                                          style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">
                                          <%=data.seller.address_line1 %>
                                       </span></strong>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 0 0 5px;">
                                    <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                          color: #000;">Address Line 2 : <span
                                          style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">
                                          <%=data.seller.address_line2 %>
                                       </span></strong>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 0 0 5px;">
                                    <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                          color: #000;">Phone Number : <span
                                          style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">
                                          +61<%=data.seller.phone_number %> </span></strong>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 0 0 5px;">
                                    <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                          color: #000;">Email Address : <span
                                          style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">
                                          <%=data.seller.email %>
                                       </span></strong>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <table width="100%" style="margin: 0 auto; border: 0;">
                              <tr>
                                 <td style="text-align: center; padding: 6px 0;">
                                    <table width="100%" style="margin: 0 auto; border: 0;">
                                       <tr>
                                          <td style="font-size: 40px; font-weight: 800; display: inline-block;
                                                color: #000;">
                                             Delivery Docket
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <table width="100%" style="margin: 0 auto; border: 0;">
                                       <tr>
                                          <td style="width: 300px; text-align: start; padding: 6px 0;">
                                             <table width="100%" style="margin: 0 auto; border: 0;">
                                                <tr>
                                                   <td style="font-size: 18px; font-weight: 800; display: inline-block;
                                                         color: #000;">
                                                      #[<%=data.buyer.business_trading_name %>]
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                          <td style="width: 300px; text-align: right; padding: 6px 0;">
                                             <table width="100%" style="margin: 0 auto; border: 0;">
                                                <tr>
                                                   <td style="font-size: 18px; font-weight: 800; display: inline-block;
                                                         color: #000; text-align: right;">
                                                      Invoice #<%=data.ref %>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: center; padding: 6px 0;">
                                    <table width="100%" style="margin: 0 auto; border: 0;">
                                       <tr>
                                          <td style="font-size: 22px; font-weight: 800; display: inline-block;
                                                color: #000;">
                                             [<%=data.payment %>]
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="text-align: right; padding: 6px 0;">
                                    <table width="100%" style="margin: 0 auto; border: 0;">
                                       <tr>
                                          <td>
                                             <span
                                                style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">[
                                                <%=data.date.day %>]
                                             </span>
                                             <span
                                                style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">[
                                                <%=data.date.date %>]
                                             </span>
                                             <span
                                                style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">[
                                                <%=data.date.time %>]
                                             </span>
                                             <span
                                                style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">[
                                                <%=data.date.a %>]
                                             </span>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td
                                             style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">
                                             Salesmen :
                                             <span
                                                style="font-size: 14px; font-weight: 500; display: inline-block; color: #706b6b;">[
                                                <%=data.salesmen.full_name %>]
                                             </span>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="padding: 12px 0;">
                                    <table class="table" width="100%" style="margin: 0 auto; border: 0;">
                                       <thead>
                                          <tr>
                                             <th
                                                style="font-size: 14px; font-weight: 600; text-align: center; color: #fff; padding: 8px 6px; background-color: #00639e;">
                                                Quantity</th>
                                             <th
                                                style="font-size: 14px; font-weight: 600; text-align: center; color: #fff; padding: 8px 6px; background-color: #00639e;">
                                                Description</th>
                                             <th
                                                style="font-size: 14px; font-weight: 600; text-align: center; color: #fff; padding: 8px 6px; background-color: #00639e;">
                                                Supplier Id</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <% data.products.forEach((item,index)=>{%>
                                             <tr>
                                                <td
                                                   style="font-size: 14px; font-weight: 500; text-align: center; color: #000; padding: 8px 6px; background-color: #fff;">
                                                   <%=index+1 %>
                                                </td>
                                                <td
                                                   style="font-size: 14px; font-weight: 500; text-align: center; color: #000; padding: 8px 6px; background-color: #fff;">
                                                   <%=item.productId.type.type %>, <%=item.productId.variety.variety %>
                                                </td>
                                                <td
                                                   style="font-size: 14px; font-weight: 500; text-align: center; color: #000; padding: 8px 6px; background-color: #fff;">
                                                   #<%=item.consignment.supplier.supplierId %>
                                                </td>
                                             </tr>
                                             <%});%>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <table width="100%" style="margin: 0 auto; border: 0;">
                                       <tr>
                                          <td style="width: 300px; text-align: start; padding: 0; vertical-align: top;">
                                             <table width="100%" style="margin: 0 auto; border: 0;">
                                                <tr>
                                                   <td style="text-align: left; padding: 0 0 5px;">
                                                      <strong style="font-size: 14px; font-weight: 700; display: inline-block;
                                                            color: #000;">Delivery Note : </strong>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td
                                                      style="background-color: #fff; padding: 12px; font-size: 13px;
                                                      font-weight: 400; display: inline-block; color: #000; line-height: 21px;">
                                                      <%=data.delivery_note %>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                          <td style="width: 300px; text-align: right; padding: 0;">
                                             <table width="100%" style="margin: 0 auto; border: 0;">
                                                <tr>
                                                   <td style="text-align: right; padding: 0 0 8px;">
                                                      <strong style="font-size: 18px; font-weight: 700; display: inline-block;
                                                            color: #000;">Total Qty : <span
                                                            style="font-size: 18px; font-weight: 500; display: inline-block; color: #706b6b;">
                                                            <%=data.quantity %>
                                                         </span></strong>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: right; padding: 0 0 8px;">
                                                      <strong style="font-size: 18px; font-weight: 700; display: inline-block;
                                                            color: #000;">Today Lines : <span
                                                            style="font-size: 18px; font-weight: 500; display: inline-block; color: #706b6b;">10</span></strong>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: right; padding: 0 0 8px;">
                                                      <strong style="font-size: 18px; font-weight: 700; display: inline-block;
                                                            color: #000;">#Pallets Out : <span
                                                            style="font-size: 18px; font-weight: 500; display: inline-block; color: #706b6b;">
                                                            <%=data.pallets %>
                                                         </span></strong>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</body>

</html>