<!DOCTYPE html>
<html lang="en">

<head>
   <link href=<%=data.css %> rel="stylesheet" />
</head>

<body>
   <section class="smcs-report">
      <div class="container-fluid px-0">
         <div class="smcs-report-table comman_table_design">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr style="background:#374251">
                        <th>SMCS Number</th>
                        <th>Customer</th>
                        <th>Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% data.list.forEach((item)=>{%>
                        <tr>
                           <td>
                              <%=item.buyer.smcs_code %>
                           </td>
                           <td>
                              <%=item.buyer.business_trading_name %>
                           </td>
                           <td>
                              <%=item.total %>
                           </td>
                        </tr>
                        <%});%>
                           <tr style="background: #374251!important">
                              <th style="color: #fff">Total: <%=data.smcs_code %>
                              </th>
                              <th style="color: #fff"></th>
                              <th style="color: #fff">$<%=data.total %>
                              </th>
                           </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </section>
</body>

</html>